window {
margin: 0px;
border: 0px solid #2e3440;
border-radius: 0px;
background-color: #3b4252;
font-family: Hack Nerd Font;
font-size: 15px;
}

#input {
margin: 5px;
border: 2px solid #eceff4;
color: #eceff4;
background-color: #3b4252;
}

#input image {
	color: #eceff4;
}

#inner-box {
margin: 5px;
border: none;
background-color: #3b4252;
}

#outer-box {
margin: 5px;
border: none;
background-color: #3b4252;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 10px;
border: none;
color: #eceff4;
} 

#entry:selected {
	background-color: #6e7275;
	font-weight: bold;
}

#text:selected {
	background-color: #6e7275;
  font-weight: bold;
  font-style: italic;
}
